.Card {
    @apply cursor-pointer absolute top-1/2 left-1/2 transition-all transform -translate-x-2/4 -translate-y-2/4;
    perspective: 1000px;
    width: var(--card-w);
    height: var(--card-h);

    & .faces {
        transform-style: preserve-3d;
        @apply shadow-lg;

        & .front, & .back {
            @apply flex flex-col box-border w-full h-full absolute rounded-lg;
            backface-visibility: hidden;
        }

        & .back {
            transform: rotateY(180deg);

            & h2 {
                font-size: .5rem;
            }
        }
    }

    &.flipped {
        @apply cursor-auto fixed z-10 transform scale-x-150 scale-y-150 -translate-x-2/4 -translate-y-2/4;

        & .faces {
            @apply shadow-2xl;
            transform: rotateY(180deg);
        }
    }
}