.Card {
    @apply absolute cursor-pointer transition-all transform-gpu duration-500;
    perspective: 64rem;
    width: var(--card-w);
    height: var(--card-h);

    & * {
        visibility: inherit;
    }

    & .faces {
        @apply rounded-lg shadow;
        transform-style: preserve-3d;

        & .front, & .back {
            @apply flex flex-col box-border w-full h-full rounded-lg overflow-hidden absolute;
            backface-visibility: hidden;
        }

        & .back {
            transform: rotateY(180deg);

            & .prompt-group {
                font-size: .5rem;
                letter-spacing: .2em;
            }

            & .prompt {
                hyphens: auto;
            }
        }
    }
}

.overlay .Card {
    @apply fixed cursor-auto;

    &.flipped {
        @apply scale-x-150 scale-y-150 -translate-x-1/2 -translate-y-1/2;

        & .faces {
            @apply shadow-2xl;
            transform: rotateY(180deg);
        }
    }
}