.discard {
    right: calc((50vw - .75*var(--card-w))/2.0);

    &:hover, &:focus {
        & span {
            @apply text-red-400 bg-white;
        }
    }

    &::before {
        @apply absolute w-full h-full rounded-full border border-pink-50 transform origin-right -translate-x-1/2 animate-ping;
        content: "";
        animation-duration: 3s;
        animation-delay: 3s;
        z-index: -1;
    }
}