.Decks {
    &::before,
    &::after {
        content: "";
        min-width: 3rem;
        @apply flex-auto h-px;
    }

    & .Deck {
        width: var(--card-w);
        height: var(--card-h);

        &.collapse {
            @apply w-0 m-0;
        }

        &:focus::before {
            @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 origin-bottom-right rounded-lg bg-pink-50 animate-ping;
            content: "";
            width: 62.5%;
            height: 62.5%;
            animation-duration: 3s;
        }
    }
}
