.App {
    height: 100vh;
    transition: opacity 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card {
    box-sizing: border-box;
    width: 144px;
    height: 192px;
    background: white;
    border-radius: 8px;
}