@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');

@import "./components/Decks.css";
@import "./components/Card.css";

:root {
    --card-w: 13.5rem;
    --card-h: 18rem;
}

body {
    overscroll-behavior: none;
}